/* Styles goes Here */
/* Common Styles */
body{
	background-color: #f7f9fc;
	font-family: 'Lato', sans-serif;
	position: relative;
    margin: 0;
}

p{
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
}

a{
	text-decoration: none;
}

/* Header Section*/
header {
    max-width: 1400px;
    height: auto;
    margin: auto;
    width: 50%;
    z-index: 189;
}

.blog-logo{
    margin: 74px 0px 74px 0px;
    display: inline-block;
}

.blog-logo h1{
	color: rgb( 51, 51, 51 );
	font-weight: bold;
	font-style: italic;
	font-size: 42px;
	text-align: left;
	z-index: 187;
}

#nav-bar{
    margin-top: 106px;
}

#nav-bar nav a, #nav-bar nav a i{
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
  	color: rgb( 51, 51, 51 );
	text-transform: uppercase;
	line-height: 1.563;
	text-align: right;
	z-index: 186;
	margin-left: 30px;
}

#nav-bar nav a i{
	margin-left: 0px;
}

a.active {
    border-bottom-style: solid;
    border-color: rgb( 92, 107, 192 );
    border-bottom-width: 3px;
    padding-bottom: 4px;
}

a.home{
	color: rgb( 189, 189, 189 ) !important;
}

/* article section */
article{
	background-color: #ffffff;
    width: 50%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #eeeeee;
}

.category {
    font-size: 14px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    z-index: 180;
    float: right;
    width: auto;
    height: auto;
    background-color: rgb( 92, 107, 192 );
    padding-right: 12px;
    padding-left: 12px;
    margin-right: -12px;
    margin-top: 20px;

}

.main-content{
	padding: 60px 100px 80px 100px;
}

.article-date{
	color: #bdbdbd;
	font-size: 14px;
	font-weight: bold;
}

.article-title{
	margin-top: 22px;
}

.article-title h1{
	margin: 0px;
	color: #000000;
	font-size: 38px;
	font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgb( 238, 238, 238 );
    padding-bottom: 43px;
	line-height: 50px;
}

.article-content{
	margin-top: 40px;
	margin-bottom: 53px;
}

.read-more a{
	color: #5c6bc0;
	font-size: 21px;
	font-weight: bold;
}

.article-tags a{
	font-size: 15px;
	font-weight: 400;
	color: #b2b2b2;
	padding-left: 13px;
}

.article-image img{
	width: 100%;
}

.article-content blockquote{
    font-size: 25px;
    font-style: italic;
    color: rgba( 0, 0, 0, 0.502 );
    line-height: 38px;
    margin: 0 0 20px;
    padding: 0px;
}

.article-content blockquote, .article-quote blockquote{
	border: none;
}

.non-hr h1{
	border: none !important;
}

.article-quote{
    margin-left: -40px;
}
.article-quote img{
	position: relative;
    left: -80px;
    top: 45px;
}

.article-quote blockquote{
    font-size: 40px;
    font-style: italic;
    line-height: 56px;
    color: #1d1c1d;
    padding-left: 40px;
}

.article-quote-user span{
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #cccccc;
}

.article-8 .main-content .article-content blockquote{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #999999;
    border-left: 4px solid #eeeeee !important;
    padding-left: 20px;
}

.blog-pagination{
    text-align: center;
    width: auto;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 115px;
}

.page-no{
	display: inline-block;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 20px 3px #e7e7e7;
    margin-left: 15px;
    color: #333333;
    margin-bottom: 36px;
    line-height: 40px;
    text-decoration: none;
}
.page-no.active{
	background-color: #5c6bc0 !important;
    color: #ffffff !important;
}

.blog-footer {
    background-color: #5c6bc0;
    text-align: center;
}

.blog-footer h1{
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    color: #4a569a;
    padding-top: 65px;
}

/* footer section */
#footer-nav-bar{
    padding-top: 65px;
    padding-bottom: 45px;
}

#footer-nav-bar nav a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 25px;
    padding-left: 40px;
}

#footer-nav-bar nav a.footer-home{
	color: #a9afdb;
}

.footer-content{
    padding-bottom: 40px;
    border-top: 2px solid #5765b5;
    padding-top: 40px;
    max-width: 925px;
    height: auto;
    display: table;
    margin: 0 auto;
    color: #9da6d9;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    width: 90%;
}

.footer-content:after {
	content:"";
	width:80%;
	height:2px;
	background-color:#5765b5;
	position:absolute;
	left:50%;
	bottom:0px;
	transform: translate(-50%);
}

.copyright{
    padding-bottom: 35px;
    padding-top: 35px;
    color: #99a2d7;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.copyright span b{
	color: #ffffff;
    font-weight: bold;
}

.social-nav a{
    margin-right: 23px;
}

.social-nav{
	padding-bottom: 80px;
}

/* image gallery section */
.image-left{
	float: left;
}

.image-right{
	float: right;
}

.article-image-gallery{
    height: 600px;
    width: 100%;
}

.image-left-top{
    width: 455px;
    height: 260px;
    margin: 10px 0px 10px 15px;
    position: relative;
    overflow: hidden;
}

.image-left-bottom{
    width: 455px;
    height: 310px;
    margin: 0 0 0 15px;
    position: relative;
    overflow: hidden;
}

.image-right-top{
    width: 455px;
    height: 326px;
    margin: 10px 15px 10px 0px;
    position: relative;
    overflow: hidden;
}

.image-right-bottom{
    width: 455px;
    height: 240px;
    margin: 10px 5px 10px 0px;
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    line-height: 300px;
    font-size: 50px;
}

.overlay .count{
	text-align: center;
    font-size: 78px;
    font-weight: 400;
    line-height: 72px;
    padding-top: 72px;
}

.overlay .photo{
    font-size: 24px;
    font-weight: 400;
    line-height: 72px;
    padding-bottom: 65px;
}

.text-link{
	border-bottom: 1px solid #727fc8;
    text-decoration: none !important;
    color: #727fc8;
}

/* Single page styles here */
.facebook-share-count {
    float: left;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #cdd5e5;
    margin-left: 6px;
    margin-top: 1px;
    padding: 1px 2px;
    position: relative;
    height: 14px;
}