/* Styles goes Here */
/* Common Styles */
body{
	background-color: #f7f9fc;
	font-family: 'Lato', sans-serif;
	position: relative;
    margin: 0;
}

p{
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
}

a{
	text-decoration: none;
}

/* Header Section*/
header {
    max-width: 1400px;
    height: auto;
    margin: auto;
    width: 50%;
    z-index: 189;
}

.blog-logo{
    margin: 95px 0px 74px 0px;
    display: inline-block;
}

.blog-logo h1{
	color: rgb( 51, 51, 51 );
	font-weight: bold;
	font-style: italic;
	font-size: 42px;
	text-align: left;
	z-index: 187;
}

#nav-bar{
    margin-top: 106px;
}

#nav-bar nav a, #nav-bar nav a i{
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
  	color: rgb( 51, 51, 51 );
	text-transform: uppercase;
	line-height: 1.563;
	text-align: right;
	z-index: 186;
	margin-left: 30px;
}

#nav-bar nav a i{
	margin-left: 0px;
}

a.active {
    border-bottom-style: solid;
    border-color: rgb( 92, 107, 192 );
    border-bottom-width: 3px;
    padding: 15px 0px 4px 0px !important;
}

a.select{
    border-bottom-style: solid;
    border-color: rgb( 92, 107, 192 );
    border-bottom-width: 3px;  
}

a.active-menu-item{
	color: rgb( 189, 189, 189 ) !important;
}

.navbar-default {
    background-color: #fff !important;
    border-color: #fff !important;
}

.navbar-default .navbar-nav>.active>a{
    background-color: #fff !important;
}

.navbar-collapse{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-toggle{
    margin-right: 0px !important;
    left: 30px;
}
.navbar-default .navbar-toggle { border-color: #fff !important; }

.navbar-toggle .icon-bar-lg{ width: 35px !important; }

.navbar-toggle .icon-bar+.icon-bar { margin-top: 10px!important; }

.icon-bar-sm{     
    width: 25px !important;
    float: right !important;
}

.icon-bar{ 
    background-color: #5c6bc0 !important;
}

/* article section */
article{
	background-color: #ffffff;
    width: 50%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #eeeeee;
}

.category {
    font-size: 14px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    z-index: 180;
    float: right;
    width: auto;
    height: auto;
    background-color: rgb( 92, 107, 192 );
    padding-right: 12px;
    padding-left: 12px;
    margin-right: -12px;
    margin-top: 20px;

}

.main-content{
	padding: 60px 100px 80px 100px;
}

.article-date{
	color: #bdbdbd;
	font-size: 14px;
	font-weight: bold;
}

.article-title{
	margin-top: 22px;
}

.article-title h1{
	margin: 0px;
	color: #000000;
	font-size: 38px;
	font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgb( 238, 238, 238 );
    padding-bottom: 43px;
	line-height: 50px;
}

.article-content{
	margin-top: 40px;
	margin-bottom: 53px;
}

.read-more a{
	color: #5c6bc0;
	font-size: 21px;
	font-weight: bold;
}

.article-tags a{
	font-size: 15px;
	font-weight: 400;
	color: #b2b2b2;
}

.article-tags {
    float: right;
}

.tag-padding{
    padding-left: 13px;
}

.article-image img{
	width: 100%;
}

blockquote{
    padding-top: 0px !important;
}

.article-content blockquote{
    font-size: 25px;
    font-style: italic;
    color: rgba( 0, 0, 0, 0.502 );
    line-height: 38px;
    margin: 0 0 20px;
    padding: 0px;
}

.article-content blockquote, .article-quote blockquote{
	border: none;
}

.non-hr h1{
	border: none !important;
}

.article-quote{
    margin-left: -40px;
}
.article-quote img{
	position: relative;
    left: -80px;
    top: 45px;
    width: 85px;
}

.article-quote blockquote{
    font-size: 40px;
    font-style: italic;
    line-height: 56px;
    color: #1d1c1d;
    padding-left: 40px;
}

.article-quote-user span{
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #cccccc;
}

.article-8 .main-content .article-content blockquote{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #999999;
    border-left: 4px solid #eeeeee !important;
    padding-left: 20px;
}

.blog-pagination{
    text-align: center;
    width: auto;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 115px;
}

.page-no{
	display: inline-block;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 20px 3px #e7e7e7;
    margin-left: 15px;
    color: #333333;
    margin-bottom: 36px;
    line-height: 40px;
    text-decoration: none;
}
.page-no.select{
	background-color: #5c6bc0 !important;
    color: #ffffff !important;
}

.blog-footer {
    background-color: #5c6bc0;
    text-align: center;
}

.blog-footer h1{
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    color: #4a569a;
    padding-top: 65px;
}

.page-content{
    padding: 50px 100px 80px 100px;
}

/* footer section */
#footer-nav-bar{
    padding-top: 65px;
    padding-bottom: 45px;
}

#footer-nav-bar nav a{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 25px;
    padding-left: 40px;
}

#footer-nav-bar nav a.footer-home{
	color: #a9afdb;
}

.footer-content{
    padding-bottom: 40px;
    border-top: 2px solid #5765b5;
    padding-top: 40px;
    max-width: 925px;
    height: auto;
    display: table;
    margin: 0 auto;
    color: #9da6d9;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    width: 90%;
}

.footer-content:after {
	content:"";
	width:80%;
	height:2px;
	background-color:#5765b5;
	position:absolute;
	left:50%;
	bottom:0px;
	transform: translate(-50%);
}

.copyright{
    padding-bottom: 35px;
    padding-top: 35px;
    color: #99a2d7;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.copyright span b{
	color: #ffffff;
    font-weight: bold;
}

.social-nav a{
    margin-right: 23px;
}

.social-nav{
	padding-bottom: 80px;
}

/* image gallery section */
.image-left{
	float: left;
}

.image-right{
	float: right;
}

.article-image-gallery{
    height: auto;
    min-height: 600px;
    width: 100%;
}

.image-left-top{
    width: 455px;
    height: 260px;
    margin: 10px 0px 10px 15px;
    position: relative;
    overflow: hidden;
}

.image-left-bottom{
    width: 455px;
    height: 310px;
    margin: 0 0 0 15px;
    position: relative;
    overflow: hidden;
}

.image-right-top{
    width: 455px;
    height: 326px;
    margin: 10px 15px 10px 0px;
    position: relative;
    overflow: hidden;
}

.image-right-bottom{
    width: 455px;
    height: 240px;
    margin: 10px 5px 10px 0px;
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    line-height: 300px;
    font-size: 50px;
}

.overlay .count{
	text-align: center;
    font-size: 78px;
    font-weight: 400;
    line-height: 72px;
    padding-top: 72px;
}

.overlay .photo{
    font-size: 24px;
    font-weight: 400;
    line-height: 72px;
    padding-bottom: 65px;
}

.text-link{
	border-bottom: 1px solid #727fc8;
    text-decoration: none !important;
    color: #727fc8;
}

.content-image{
    float: left;
}

.page-artical{
    margin-bottom: 120px;
}

.page-sub-header {
    color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgb( 238, 238, 238 );
    padding-bottom: 35px;
    margin-bottom: 30px;

}
.page-sub-header h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    padding-bottom: 30px;
}

/* Post page styles here */
.tweet-button button{
    width: 55px;
    background-color: rgba(227, 227, 227, 0.52);
}

.tweet-button button img{
    bottom: 7px;
    right: 4px;
}

.fbLike-button button{
    width: 50px;
    background-color: rgb(69, 95, 169);
}

.fbLike-button button img{
    right: 4px;
}

.gplus-button button{
    width: 30px;
    background-color: #ffffff;
}

.gplus-button button img{
    right: 6px;
}

.pinit-button button{
    width: 45px;
    background-color: rgba(236, 236, 236, 0.65);  
}

.pinit-button button img{
    right: 1px;
}

.social-button{
    padding-right: 11px;
}

.social-button button{
    height: 20px;
    border: 1px #cccccc solid;
    border-radius: 2px;
}

.social-button button img{
    position: relative;
    bottom: 3px;
}

.article-share{
    display: flex;
    float: left;
}

.s-count{
    border: 1px solid #bbbbbb;
    height: 20px;
    position: relative;
    min-width: 20px;
    width: auto;
    padding: 0 4px;
    text-align: center;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    top: -5px;
}

.s-count:after, .s-count:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: -10px;
    position: absolute;
    width: 0;
    margin-top: 24px;
}
.s-count:after {
    border-width: 3px;
    border-right-color: #f9f9f9;
    top: -18px;
    left: -6px;
}

.s-count:before {
    border-width: 5px;
    border-right-color: #bbbbbb;
    top: -20px;
}

.comment-section{
   padding: 0px 100px 10px 100px;
}

.comment-section-left span{
    font-weight: bold;
    padding-right: 30px;
}

.comment-section-left{
    float: left;
}

.comment-text{
    color: #889aa3;
    float: right;
}

.fa-comment-color{
    color: #f55567;
    padding-right: 10px;
}

.comment-text{
    font-weight: bold;
}

.comment-content{
    padding: 0px 100px 10px 100px;
}

.comment-section-right span {
    font-weight: bold;
    padding-right: 30px;
    font-size: 13px;
    color: #889aa3;
    float: left;
}

.shorting{
    font-weight: bold;
    font-size: 13px;
    color: #889aa3;
    float: right;
}

.comment-form{
    padding: 25px 100px 10px 100px;
}

.comment-image input{
    width: 90%;
    height: 50px;
    border: 2px #ced6d9 solid;
    border-radius: 5px;
    padding-left: 10px;
    float: right;
}

.comment-form p{
    text-align: center;
    margin: 10px 0 0;
    padding-top: 70px;
    padding-bottom: 45px;
    color: #b1b3b4;
}

.comment-footer a{
    color: #ccd4d9;
    float: left;
    padding-right: 30px;
}

.comment-footer h5{
    float: right;
    font-weight: bold;
    color: #ccd4d9;
}

.comment-footer{
    padding-bottom: 110px;
}

.article-tags{
    float: right;
}

 /* Contact page styles here */

.form-input-half{
    width: 47%;
    height: 45px;
    background-color: #f7f9fc;
    border: none;
}

.form-name{
    margin: 50px 30px 30px 0;
    display: inline-block;
}

.form-email{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 30PX;
}

.form-input-full{
    width: 100%;
    height: 45px;
    background-color: #f7f9fc;
    border: none;
    margin-bottom: 30px;
}

.form-textarea{height: 150px;}

.contact-button{
    color: #5c6bc0;
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
    background-color: #fff;
    border: none;
}

input::placeholder, textarea::placeholder {
    color: #c4c5c7; 
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 20px;
}

/* Archive page styles here */

.archive-content{
    padding-bottom: 20px;
}

.authors h2, .categories h2, .latest-posts h2, .posts-by-month h2 {
    color: #b2b2b2;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}

.authors span, .categories span, .latest-posts span, .posts-by-month span{
    display: block;
    font-size: 17px;
    line-height: 26px;
    font-weight: bold;
    color: #333333;
    padding-bottom: 16px;
}

.archive-content-left, .archive-content-right{
    display: inline-block;
    width: 47%;
}

 /* About page styles here */

.about-sub-header{
    color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgb( 238, 238, 238 );
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.about-sub-header blockquote{
    font-size: 25px;
    line-height: 38px;
    font-style: italic;
    border: none;
    padding: unset;
    color: #7f7f7f;
}

.search-result span.result-content{
    display: block;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 10px;

}

.search-result span.result-count{
    font-size: 25px;
    line-height: 38px;
    font-weight: 400;
    color: #999999;
}

.search-content{
    padding: 60px 100px 50px 100px;
}

/* Responsive styles here */

@media screen and (max-width : 1439px ) {

    /* Header Section*/
    header{
        max-width: 480px;
        width: 80%;
    }

    .blog-logo { margin: 60px 0 60px 0; }

    .blog-logo h1{ font-size: 42px; }

    #nav-bar { margin-top: 65px; }

    .navbar-default{
        background-color: #fff !important;
        border-color: #fff !important;
    }

    /* article section */

    .page-content {
        padding: 60px 50px 100px 50px;
    }

    article{
        max-width: 1440px;
        width: 90%;
    }

    .main-content {
        padding: 60px 50px 140px 50px;
    }

    .article-title h1 {
        font-size: 32px;
        padding-bottom: 50px;
        line-height: 42px;
    }

    .article-content p{
        font-size: 18px;
        line-height: 34px;
    }

    .read-more a {
        font-size: 24px;
        line-height: 50px;
    }

    .article-content {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .article-tags {
        float: left !important;
        margin-top: 20px;
    }

    .article-content blockquote{
        font-size: 21px;
        line-height: 32px; 
    }

    .article-quote img{
        left: -29px;
    }

    .article-quote blockquote {
        font-size: 32px;
        line-height: 45px;
        padding-left: 30px;
    }

    .article-quote-user span {
        font-size: 18px;
        font-weight: 400;
        line-height: 50px;
    }

    .image-left-bottom, .image-right-top{
        display: none;
    }
    
    .image-left-top, .image-right-bottom{
        width: 410px;
        height: 250px;
        left: -5px;
        
    }

    .image-right-bottom{
        margin: 0px 5px 10px 0px;
    }

    .category{
        margin: 0px;
    }

    .image-category{
        position: relative;
        top: -240px;
    }

    .image-gallery-category{
        position: relative;
        top: -590px;
        right: 11px;
    }

    .video-category{
        position: relative;
        top: -255px;
    }

    .article-video iframe{
        height: 250px;
    }

    .page-no{
        font-size: 18px;
        font-weight: bold;
    }

    #footer-nav-bar{
        padding-left: 65px;
        padding-right: 65px;
    }

    #footer-nav-bar nav a{
        padding-left: 20px;
    }

    .footer-main{
        padding-left: 65px;
        padding-right: 65px;
    }

    .footer-content:after{
        width: 100%;
    }

    .content-image{
        float: none;
    }

    .content-image img{
        padding: 55px 165px 50px 65px;
    }

    /* Post page responsive styles here */

    .social-button button img {
        position: relative;
        bottom: 3px;
    }

    .tweet-button button img {
        bottom: 3px !important;
        right: 4px;
    }

    .comment-section, .comment-content {
        padding: 0px 10px 10px 50px;
    }

    .comment-form{
        padding: 50px 10px 10px 50px;
    }

    .comment-image input {
        width: 80%;
    }

    .comment-footer a {
        color: #ccd4d9;
        float: left;
        padding-right: 22px;
    }

    .comment-form p {
        text-align: center;
        margin: 10px 0 0;
        padding-top: 20px;
        color: #b1b3b4;
    }

    .comment-footer {
        padding-bottom: 25px;
    }

    .comment-footer h5 {
        text-align: center;
        float: none;
        padding-top: 40px;
    }

    .article-share {
        display: block;
        float: left;
    }

    .social-button {
        padding-bottom: 10px;
    }


     /* Contact page responsive styles here */

    .form-name, .form-email{
        display: block;
    }

    .form-email{
        margin-left: 0px;
    }

    .form-input-half{
        width: 100%;
    }

     /* Archive page responsive styles here */

    .archive-content-left, .archive-content-right{
        display: block;
        width: auto;
    }

    /* About page responsive styles here */

    .about-sub-header h1, .page-sub-header h1{
        font-size: 32px;
        line-height: 42px;
        font-weight: bold;
    }

    .about-sub-header blockquote{
        font-size: 21px;
        line-height: 38px;
    }

    .about-content p{
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    /* Search page responsive styles here */

    .search-result span.result-content{
        font-size: 32px;
        line-height: 40px;
    }

    .search-result span.result-count{
        font-size: 21px;
        line-height: 32px;
    }

    .search-content{
        padding: 40px 50px 35px 50px;
    }
}

@media screen and (max-width : 479px ) {
    .blog-logo h1 {
        font-size: 42px;
        line-height: 25px;
    }

    .article-title h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .main-content {
        padding: 60px 20px 140px 20px;
    }

    .article-content p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
    }

    .read-more a {
        font-size: 20px;
        line-height: 50px;
    }

    .image-category {
        position: relative;
        top: -230px;
    }

    .article-image img {
        width: 100%;
        min-height: 230px;
        height: 100%;
    }

    .article-content blockquote {
        font-size: 18px;
        line-height: 30px;
    }

    .image-left-top, .image-right-bottom {
        width: 270px;
        height: 160px;
        left: -7px;
    }

    .image-right-bottom {
        margin: 0px 3px 10px 0px;
    }

    .overlay .count {
        text-align: center;
        font-size: 52px;
        font-weight: 400;
        line-height: 50px;
        padding-top: 40px;
    }

    .overlay .photo {
        font-size: 16px;
        font-weight: 400;
        line-height: 50px;
        padding-bottom: 65px;
    }

    .image-gallery-category {
        position: relative;
        top: -340px;
    }

    .article-video iframe {
        height: 160px;
    }

    .article-image-gallery {
        min-height: 345px;
    }

    .video-category {
        position: relative;
        top: -165px;
    }

    .article-quote img {
        left: 4px;
        top: -60px;
    }

    .article-quote blockquote {
        font-size: 26px;
        line-height: 38px;
        padding-left: 60px;
        position: relative;
        top: -88px;
    }

    .clear-padding{
        padding-bottom: 0px;
    }

    .article-quote-user{
        position: relative;
        top: -100px;
    }

    .content-image img{
        padding: 40px 0px 45px 30px;
    }

    .page-content {
        padding: 5px 25px 80px 25px;
    }
    
    #footer-nav-bar{
        padding-bottom: 30px;
    }

    #footer-nav-bar nav{
        display: grid;
    }

    #footer-nav-bar nav a {
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .footer-content {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    .copyright {
        line-height: 23px;
    }

    .footer-main {
        padding-left: 40px;
        padding-right: 36px;
    }

    .page-sub-header p{
        font-size: 16px;
        line-height: 28px;
    }

     /* Post page responsive styles here */

    .comment-section, .comment-content {
        padding: 0px 10px 10px 20px;
    }

    .comment-text{
        float: none;
    }

    .comment-section-left {
         float: none; 
    }

    .pix-team{
        position: relative;
        top: 20px;
    }

    .shorting{
        float: left;
        position: relative;
        top: 10px;
    }

    .comment-form {
        padding: 60px 10px 10px 15px;
    }

    .comment-form p{
        padding-bottom: 0px;
    }

    .comment-image input {
        width: 75%;
    }

    .comment-footer h5 {
        padding-top: 80px;
    }


    /* About page responsive styles here */

    .about-sub-header h1, .page-sub-header h1{
        font-size: 24px;
        line-height: 32px;
    }

    .about-sub-header blockquote{
        font-size: 18px;
        line-height: 30px;
    }

    .about-content p{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    /* Archive page responsive styles here */

    .authors h2, .categories h2, .latest-posts h2, .posts-by-month h2 { font-size: 21px; }

    .authors span, .categories span, .latest-posts span, .posts-by-month span { font-size: 15px; }

    /* Search page responsive styles here */

    .search-result span.result-content{
        font-size: 24px;
        line-height: 30px;
    }

    .search-result span.result-count{
        font-size: 18px;
        line-height: 30px;
    }

    .search-content { padding: 30px 25px 35px 25px; }
}

 
 

